@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Variable.ttf);
}
@font-face {
    font-family: 'Inconsolata';
    src: url(../assets/fonts/Inconsolata-Variable.ttf);
}

@keyframes scrollBackground {
    from { background-position: 0px 0; }
    to { background-position: -200px -200px; }
}

* {
    font-family: 'Montserrat';
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-image: url(../assets/imgs/background.png);
    background-repeat: repeat;
    background-size: 200px;
    animation: scrollBackground 15s linear infinite normal;

    margin: 0;
    overflow: hidden;
}
#bgGradient {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.75));
    z-index: -1;
}
#clickScreen {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    width: 10vw;
    height: 10vw;
    transition: 2.5s ease;
    background-color: white;

    outline: solid black 120vw;
    outline-offset: -1px;
    z-index: 10;
}
#welcomeText {
    text-align: center;
    font-weight: bold;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: 2.5s ease;
    color: white;
    z-index: 10;
}

#divBody {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#heartDiv {
    width: 20vw;
    height: 20vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
#time {
    color: black;

    text-align: center;
    font-weight: bold;
    font-size: 1.5em;

    width: 100%;
    padding: 15px;

    background-color: #ffb7ce;
    border-radius: 15px;
}
#timedesc {
    color: black;

    text-align: center;
    font-weight: bold;
    font-size: 1.25em;

    width: fit-content;
    padding: 10px;

    background-color: #ff80a8;
    border-radius: 0 0 15px 15px;
}
#timecontainer {
    width: 50vw;
}

.middleItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heartParticles {
    position: absolute;
    width: 5vw;
    height: 5vw;
}